@font-face {
  font-family: 'lx-iconfont';
  /* project id 463029 */
  src: url('//at.alicdn.com/t/font_463029_vpsttqlex2vgqfr.eot');
  src: url('//at.alicdn.com/t/font_463029_vpsttqlex2vgqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_463029_vpsttqlex2vgqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_463029_vpsttqlex2vgqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_463029_vpsttqlex2vgqfr.svg#lx-iconfont') format('svg');
}


.lx-iconfont {
  font-family: "lx-iconfont" !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
