@import "base/main";

body {
  margin: 0;
  padding: 0;
}

html{
  // font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font:12px/1.5 PingFangSC,"PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;
}

.pch-page-container {
  .pch-container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    z-index: 20;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
    transition: padding .3s;
    min-height: 100vh;
    padding: $header-height-base+10px 10px 10px 210px;
    background: $lx-core-bg-color;
    .pch-main-container {
      padding:0 $lx-default-space;
      .layout-container{
        background-color: $lx-much-bg-color;
        padding:0 $lx-core-space;
      }
      .container {
        /*margin:10px 0 0 0;*/
      }
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

