@import "~assets/scss/base/main";
#sidebar{
	width: 200px; overflow: auto;
	height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    transition: width .3s;
    background:#fff;
    .logo-con{
    	text-align:center;
    	line-height: $header-height-base;
    	height: $header-height-base;
    	img{
    		max-height:100%;
    		max-width:100%;
    	}
    }
}